/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

@import url("icons.css");
@import url("misc.css");
@import url("navbar.css");
@import url("sidebar.css");
@import url("urlbar.css");
@import url("window-controls.css");

body {
    background-color: var(--uc-bg) !important;
}

/* remove bg from things */
#nav-bar,
#navigator-toolbox,
#appcontent,
splitter.devtools-horizontal-splitter, 
.devtools-side-splitter,
#tabbrowser-tabpanels,
#sidebar-box,
#sidebar,
#sidebar-splitter {
    background-color: transparent !important;
}

:root {
    &:not(
        [inFullscreen="true"], 
        [inDOMFullscreen="true"],
        [chromehidden*="toolbar"], 
        [chromehidden*="menubar"]
    ) {
        @media not (-moz-bool-pref: "uc.tweak.borderless") {
            --uc-content-margin-top: var(--uc-content-margin);
            --uc-content-margin-right: var(--uc-content-margin);
            --uc-content-margin-bottom: var(--uc-content-margin);
            --uc-content-margin-left: var(--uc-content-margin);

            & #appcontent {
                margin:
                    var(--uc-content-margin-top)
                    var(--uc-content-margin-right)
                    var(--uc-content-margin-bottom)
                    var(--uc-content-margin-left)
                    !important;
                & browser {
                    border-radius: var(--uc-content-radius);
                    clip-path: circle(100%);
                    background-color: transparent !important;
                }
            }
        }
        @media (-moz-bool-pref: "uc.tweak.borderless") {
            & #appcontent browser {
                clip-path: circle(100%);
                background-color: transparent !important;
            }
            
            /* not navbar collapse */
            &:not([titlepreface*="​"]) {
                & #appcontent browser {
                    border-top-left-radius: var(--uc-content-radius) !important;
                    border-top-right-radius: var(--uc-content-radius) !important;
                }
            }
            /* not sidebar full collapse */
            &:not([titlepreface*="‌"]) { 
                &:has(#sidebar-box:not([positionend="true"])) #appcontent browser {
                    border-top-left-radius: var(--uc-content-radius) !important;
                    border-bottom-left-radius: var(--uc-content-radius) !important;
                } &:has(#sidebar-box[positionend="true"]) #appcontent browser {
                    border-top-right-radius: var(--uc-content-radius) !important;
                    border-bottom-right-radius: var(--uc-content-radius) !important;
                } 
            }
            /* sidebar full collapse */
            &[titlepreface*="‌"] {
                &:has(#sidebar-box:not([positionend="true"])) #appcontent browser {
                    border-top-left-radius: var(--uc-content-radius) !important;
                    border-bottom-left-radius: var(--uc-content-radius) !important;
                } &:has(#sidebar-box[positionend="true"]) #appcontent browser {
                    border-top-right-radius: var(--uc-content-radius) !important;
                    border-bottom-right-radius: var(--uc-content-radius) !important;
                } 
            }
        }
    }
    &:not(
        [inDOMFullscreen="true"],
        [chromehidden*="toolbar"], 
        [chromehidden*="menubar"]
    ) {
        & #appcontent browser {
            clip-path: circle(100%);
            background-color: transparent !important;
        }
        /* not navbar collapse */
        &:not([titlepreface*="​"]) {
            & #appcontent browser {
                border-top-left-radius: var(--uc-content-radius) !important;
                border-top-right-radius: var(--uc-content-radius) !important;
            }
        }
        /* not sidebar full collapse */
        &:not([titlepreface*="‌"]) { 
            &:has(#sidebar-box:not([positionend="true"])) #appcontent browser {
                border-top-left-radius: var(--uc-content-radius) !important;
                border-bottom-left-radius: var(--uc-content-radius) !important;
            } &:has(#sidebar-box[positionend="true"]) #appcontent browser {
                border-top-right-radius: var(--uc-content-radius) !important;
                border-bottom-right-radius: var(--uc-content-radius) !important;
            } 
        }
        /* sidebar full collapse */
        &[titlepreface*="‌"] {
            &:has(#sidebar-box:not([positionend="true"])) #appcontent browser {
                border-top-left-radius: var(--uc-content-radius) !important;
                border-bottom-left-radius: var(--uc-content-radius) !important;
            } &:has(#sidebar-box[positionend="true"]) #appcontent browser {
                border-top-right-radius: var(--uc-content-radius) !important;
                border-bottom-right-radius: var(--uc-content-radius) !important;
            } 
        }
    }

    @media (-moz-bool-pref: "uc.tweak.translucency")
    and (-moz-platform: macos ) {
        -moz-appearance: menupopup !important;
    } 
}
